In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as np

In [2]:
df = pd.read_csv("treasury_sheet.csv")
df.head()

,Workflow Name,Workflow Stage,Name,Initiated by,Subsidiary Country,Date,Trade Number,Transaction ID,Client Name (N),Volume Purchased,...,Payment Status,Payment Time and Date,Uploaded By,Date Modified,Updated At,Created At,Type,Size,Checkedin By,Current Version
0,Trade-Buy Processing,Payment Process Completed,Nala,Thomas Birgen,NaN,2024-09-10 12:27:44,37,NaN,NaN,150000.00,...,Payment Completed,2024-09-12 13:01:41,Thomas Birgen,2024-09-12 13:01:41,2024-09-12 13:01:41,2024-09-10 12:25:03,pdf,4.88 KB,NaN,1
1,Trade-Buy Processing,Payment Process Completed,Zepz,Thomas Birgen,NaN,2024-09-11 09:07:57,38,NaN,NaN,194968.35,...,Payment Completed,2024-09-12 17:57:30,Thomas Birgen,2024-09-12 17:57:30,2024-09-12 17:57:30,2024-09-10 12:28:29,pdf,4.88 KB,NaN,1
2,Trade-Buy Processing,Payment Process Completed,Conduit,Thomas Birgen,NaN,2024-09-10 13:52:58,47,NaN,NaN,999000.00,...,Payment Completed,2024-09-12 13:21:51,Thomas Birgen,2024-09-12 13:21:51,2024-09-12 13:21:51,2024-09-10 13:50:38,pdf,4.88 KB,NaN,1
3,Trade-Buy Processing,Payment Process Completed,Conduit,Thomas Birgen,NaN,2024-09-10 13:53:18,48,NaN,NaN,999000.00,...,Payment Completed,2024-09-13 06:10:38,Thomas Birgen,2024-09-13 06:10:38,2024-09-13 06:10:38,2024-09-10 13:50:54,pdf,4.88 KB,NaN,1
4,Trade-Buy Processing,Payment Process Completed,Zepz,Thomas Birgen,NaN,2024-09-11 09:07:08,54,NaN,NaN,194968.35,...,Payment Completed,2024-09-16 18:09:26,Thomas Birgen,2024-09-16 18:09:26,2024-09-16 18:09:26,2024-09-11 09:06:04,pdf,4.88 KB,NaN,1

In [3]:
df.columns

Index(['Workflow Name', 'Workflow Stage', 'Name', 'Initiated by',
       'Subsidiary Country', 'Date', 'Trade Number', 'Transaction ID',
       'Client Name (N)', 'Volume Purchased', 'Currency', 'Rate',
       'Total Amount Purchased', 'Account Name', 'Account Number', 'Bank Name',
       'IBAN', 'SWIFT/BIC Code:', 'Address', 'Country', 'Reference',
       'Other Bank/Beneficiary details', 'IB Commision', 'Remarks',
       'Manager Name', 'Attachment Status', 'Reviewed By',
       'Compliance Comment', 'Compliance Approval',
       'Compliance Approval Date & Time', 'Manager Comment',
       'Manager Approval', 'Manager Approval Date & Time', 'Fund Exit',
       'Settlement Bank', 'Settlement Done By', 'Settlement Comment',
       'Payment Status', 'Payment Time and Date', 'Uploaded By',
       'Date Modified', 'Updated At', 'Created At', 'Type', 'Size',
       'Checkedin By', 'Current Version'],
      dtype='object')

In [6]:
COLUMNS_TO_SELECT = [
    'Trade Number',
    'Date',
    'Payment Time and Date',
    'Rate',
    'Volume Purchased',
    'Client Name (N)',
    'Currency',
    'Settlement Bank',
    'Initiated by',
    'Settlement Done By',
    'Payment Status'
]

In [14]:
df1 = df[COLUMNS_TO_SELECT]
df1.head()

,Trade Number,Date,Payment Time and Date,Rate,Volume Purchased,Client Name (N),Currency,Settlement Bank,Initiated by,Settlement Done By,Payment Status
0,37,2024-09-10 12:27:44,2024-09-12 13:01:41,3624.00,150000.00,NaN,GBP,TZS - Tembo Plus (Ecobank),Thomas Birgen,Elizabeth Asabre,Payment Completed
1,38,2024-09-11 09:07:57,2024-09-12 17:57:30,2780.00,194968.35,NaN,USD,TZS - Tembo Plus (Ecobank),Thomas Birgen,Elizabeth Asabre,Payment Completed
2,47,2024-09-10 13:52:58,2024-09-12 13:21:51,0.00,999000.00,NaN,USDT,NaN,Thomas Birgen,NaN,Payment Completed
3,48,2024-09-10 13:53:18,2024-09-13 06:10:38,0.01,999000.00,NaN,USDT,MCB,Thomas Birgen,Chiamaka Enweremibe,Payment Completed
4,54,2024-09-11 09:07:08,2024-09-16 18:09:26,2780.00,194968.35,NaN,USD,TZS - Tembo Plus (Ecobank),Thomas Birgen,Elizabeth Asabre,Payment Completed

In [15]:
df1.dropna(subset=['Payment Status'], inplace=True)
df1

/tmp/ipykernel_1837/313590915.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.dropna(subset=['Payment Status'], inplace=True)

,Trade Number,Date,Payment Time and Date,Rate,Volume Purchased,Client Name (N),Currency,Settlement Bank,Initiated by,Settlement Done By,Payment Status
0,37,2024-09-10 12:27:44,2024-09-12 13:01:41,3624.00,150000.00,NaN,GBP,TZS - Tembo Plus (Ecobank),Thomas Birgen,Elizabeth Asabre,Payment Completed
1,38,2024-09-11 09:07:57,2024-09-12 17:57:30,2780.00,194968.35,NaN,USD,TZS - Tembo Plus (Ecobank),Thomas Birgen,Elizabeth Asabre,Payment Completed
2,47,2024-09-10 13:52:58,2024-09-12 13:21:51,0.00,999000.00,NaN,USDT,NaN,Thomas Birgen,NaN,Payment Completed
3,48,2024-09-10 13:53:18,2024-09-13 06:10:38,0.01,999000.00,NaN,USDT,MCB,Thomas Birgen,Chiamaka Enweremibe,Payment Completed
4,54,2024-09-11 09:07:08,2024-09-16 18:09:26,2780.00,194968.35,NaN,USD,TZS - Tembo Plus (Ecobank),Thomas Birgen,Elizabeth Asabre,Payment Completed
...,...,...,...,...,...,...,...,...,...,...,...
1601,5374,2025-11-20 08:49:16,NaN,4300.00,11627.91,Zepz Pay,USDC,NaN,Michael Oanda,NaN,Payment Processing
1602,5375,2025-11-20 09:04:18,NaN,594.00,666350.17,Zepz Pay,USDC,NaN,Jemima DedeSaki,NaN,Payment Processing
1603,5376,2025-11-20 09:11:55,NaN,596.00,500000.00,Remitly,USD,NaN,Jemima DedeSaki,NaN,Payment Processing
1604,5377,2025-11-20 09:17:58,NaN,81.95,219646.13,GCA Holdings Limited,USDT,NaN,Michael Oanda,NaN,Payment Processing
1606,5380,2025-11-20 09:28:02,NaN,2425.00,100000.00,MFS Africa UK (Onafriq),USD,NaN,Michael Oanda,NaN,Payment Processing

In [16]:
df1[df1.isnull().any(axis=1)]

,Trade Number,Date,Payment Time and Date,Rate,Volume Purchased,Client Name (N),Currency,Settlement Bank,Initiated by,Settlement Done By,Payment Status
0,37,2024-09-10 12:27:44,2024-09-12 13:01:41,3624.00,150000.00,NaN,GBP,TZS - Tembo Plus (Ecobank),Thomas Birgen,Elizabeth Asabre,Payment Completed
1,38,2024-09-11 09:07:57,2024-09-12 17:57:30,2780.00,194968.35,NaN,USD,TZS - Tembo Plus (Ecobank),Thomas Birgen,Elizabeth Asabre,Payment Completed
2,47,2024-09-10 13:52:58,2024-09-12 13:21:51,0.00,999000.00,NaN,USDT,NaN,Thomas Birgen,NaN,Payment Completed
3,48,2024-09-10 13:53:18,2024-09-13 06:10:38,0.01,999000.00,NaN,USDT,MCB,Thomas Birgen,Chiamaka Enweremibe,Payment Completed
4,54,2024-09-11 09:07:08,2024-09-16 18:09:26,2780.00,194968.35,NaN,USD,TZS - Tembo Plus (Ecobank),Thomas Birgen,Elizabeth Asabre,Payment Completed
...,...,...,...,...,...,...,...,...,...,...,...
1601,5374,2025-11-20 08:49:16,NaN,4300.00,11627.91,Zepz Pay,USDC,NaN,Michael Oanda,NaN,Payment Processing
1602,5375,2025-11-20 09:04:18,NaN,594.00,666350.17,Zepz Pay,USDC,NaN,Jemima DedeSaki,NaN,Payment Processing
1603,5376,2025-11-20 09:11:55,NaN,596.00,500000.00,Remitly,USD,NaN,Jemima DedeSaki,NaN,Payment Processing
1604,5377,2025-11-20 09:17:58,NaN,81.95,219646.13,GCA Holdings Limited,USDT,NaN,Michael Oanda,NaN,Payment Processing
1606,5380,2025-11-20 09:28:02,NaN,2425.00,100000.00,MFS Africa UK (Onafriq),USD,NaN,Michael Oanda,NaN,Payment Processing

In [18]:
for i in df1.columns:
    print(f"{i}: {df1[i].nunique()}")

Trade Number: 1595
Date: 1595
Payment Time and Date: 1563
Rate: 707
Volume Purchased: 815
Client Name (N): 70
Currency: 7
Settlement Bank: 19
Initiated by: 14
Settlement Done By: 7
Payment Status: 3

In [19]:
print(f"{'Payment Status'}: {df1['Payment Status'].unique()}")

Payment Status: ['Payment Completed' 'Payment Processing' 'Payment Cancelled']

In [17]:
df1.isnull().sum()

Trade Number              0
Date                      0
Payment Time and Date    32
Rate                      5
Volume Purchased          3
Client Name (N)          16
Currency                  2
Settlement Bank          52
Initiated by              3
Settlement Done By       54
Payment Status            0
dtype: int64

In [21]:
df2 = df1[df1["Payment Status"]=='Payment Completed']

In [22]:
df2

,Trade Number,Date,Payment Time and Date,Rate,Volume Purchased,Client Name (N),Currency,Settlement Bank,Initiated by,Settlement Done By,Payment Status
0,37,2024-09-10 12:27:44,2024-09-12 13:01:41,3624.00,150000.00,NaN,GBP,TZS - Tembo Plus (Ecobank),Thomas Birgen,Elizabeth Asabre,Payment Completed
1,38,2024-09-11 09:07:57,2024-09-12 17:57:30,2780.00,194968.35,NaN,USD,TZS - Tembo Plus (Ecobank),Thomas Birgen,Elizabeth Asabre,Payment Completed
2,47,2024-09-10 13:52:58,2024-09-12 13:21:51,0.00,999000.00,NaN,USDT,NaN,Thomas Birgen,NaN,Payment Completed
3,48,2024-09-10 13:53:18,2024-09-13 06:10:38,0.01,999000.00,NaN,USDT,MCB,Thomas Birgen,Chiamaka Enweremibe,Payment Completed
4,54,2024-09-11 09:07:08,2024-09-16 18:09:26,2780.00,194968.35,NaN,USD,TZS - Tembo Plus (Ecobank),Thomas Birgen,Elizabeth Asabre,Payment Completed
...,...,...,...,...,...,...,...,...,...,...,...
1593,5335,2025-11-18 13:35:10,2025-11-19 11:30:10,596.00,1936684.21,Zepz Pay,USDC,XAF -UBA,Jemima DedeSaki,ExonamAbla Kabutu-Gbedemah,Payment Completed
1594,5337,2025-11-18 14:04:01,2025-11-18 17:14:39,1469.00,2000000.00,Lemonade,USD,NGN -Providus,Emmanuel Odeh,Tosin Shonde,Payment Completed
1595,5340,2025-11-18 15:01:50,2025-11-19 09:28:32,80.00,137500.00,WIREMIT,USDT,UBA Mozambique,Thomas Birgen,ExonamAbla Kabutu-Gbedemah,Payment Completed
1596,5347,2025-11-19 09:38:13,2025-11-19 11:31:09,80.00,47500.00,WIREMIT,USDT,UBA Mozambique,Michael Oanda,ExonamAbla Kabutu-Gbedemah,Payment Completed
1597,5362,2025-11-19 13:42:01,2025-11-19 14:32:02,1472.00,120000.00,Pype Digital,USDT,NGN -Providus,Matthew Agyemang,Tosin Shonde,Payment Completed

In [23]:
df2.isnull().sum()

Trade Number              0
Date                      0
Payment Time and Date     0
Rate                      5
Volume Purchased          3
Client Name (N)          16
Currency                  2
Settlement Bank           9
Initiated by              3
Settlement Done By       10
Payment Status            0
dtype: int64

In [24]:
print(f"{'Payment Status'}: {df2['Payment Status'].unique()}")

Payment Status: ['Payment Completed']

In [26]:
miss = df2[df2.isnull().any(axis=1)]
miss

,Trade Number,Date,Payment Time and Date,Rate,Volume Purchased,Client Name (N),Currency,Settlement Bank,Initiated by,Settlement Done By,Payment Status
0,37,2024-09-10 12:27:44,2024-09-12 13:01:41,3624.00,150000.00,NaN,GBP,TZS - Tembo Plus (Ecobank),Thomas Birgen,Elizabeth Asabre,Payment Completed
1,38,2024-09-11 09:07:57,2024-09-12 17:57:30,2780.00,194968.35,NaN,USD,TZS - Tembo Plus (Ecobank),Thomas Birgen,Elizabeth Asabre,Payment Completed
2,47,2024-09-10 13:52:58,2024-09-12 13:21:51,0.00,999000.00,NaN,USDT,NaN,Thomas Birgen,NaN,Payment Completed
3,48,2024-09-10 13:53:18,2024-09-13 06:10:38,0.01,999000.00,NaN,USDT,MCB,Thomas Birgen,Chiamaka Enweremibe,Payment Completed
4,54,2024-09-11 09:07:08,2024-09-16 18:09:26,2780.00,194968.35,NaN,USD,TZS - Tembo Plus (Ecobank),Thomas Birgen,Elizabeth Asabre,Payment Completed
5,56,2024-09-11 11:16:04,2024-09-12 17:33:25,1650.00,660000.00,NaN,USD,NGN- PayAza,Matthew Agyemang,Tosin Shonde,Payment Completed
6,57,2024-09-11 13:41:11,2024-09-18 13:16:24,1659.00,300000.00,NaN,USD,NGN- PayAza,Matthew Agyemang,Tosin Shonde,Payment Completed
7,61,2024-09-11 13:40:59,2024-09-18 13:16:55,1659.00,300000.00,NaN,USD,NaN,Matthew Agyemang,NaN,Payment Completed
8,65,2024-09-11 16:57:45,2024-09-16 18:06:17,678.00,294985.25,NaN,EURO,XOF -GTB,Jemima DedeSaki,Elizabeth Asabre,Payment Completed
9,67,2024-09-11 17:14:18,2024-09-12 17:37:38,635.00,1119685.04,NaN,USD,XAF -UBA,Jemima DedeSaki,Elizabeth Asabre,Payment Completed
10,70,2024-09-12 11:03:23,2024-09-12 15:25:54,4825.00,100.00,NaN,GBP,UGX - GTB Uganda,Oreoluwa Megbope,Elizabeth Asabre,Payment Completed
11,80,2024-09-12 12:16:27,2024-09-12 17:33:35,635.50,202989.77,NaN,USD,XAF -UBA,Jemima DedeSaki,Elizabeth Asabre,Payment Completed
12,81,2024-09-12 12:25:10,2024-09-12 18:08:00,612.08,1633773.36,NaN,USD,XOF -GTB,Jemima DedeSaki,Elizabeth Asabre,Payment Completed
13,86,2024-09-12 13:05:43,2024-09-12 16:48:26,1655.00,500000.00,NaN,USD,NGN- PayAza,Matthew Agyemang,Tosin Shonde,Payment Completed
14,103,2024-09-12 15:18:52,2024-09-18 13:17:34,1660.00,1000000.00,NaN,USD,NaN,Matthew Agyemang,NaN,Payment Completed
15,104,2024-09-12 16:20:22,2024-09-13 11:13:59,2771.00,78390.11,NaN,USD,TZS - Tembo Plus (Ecobank),Thomas Birgen,Elizabeth Asabre,Payment Completed
22,175,2024-09-17 09:45:34,2024-09-18 13:15:15,1650.00,NaN,Lemonade,USD,NGN- PayAza,Matthew Agyemang,Tosin Shonde,Payment Completed
45,272,2024-09-20 18:20:21,2024-09-20 18:37:13,NaN,75000.00,OA PAY,GBP,NGN- PayAza,Matthew Agyemang,Tosin Shonde,Payment Completed
232,935,2024-10-30 11:39:59,2024-11-07 17:28:15,692.00,722543.35,TTS,EURO,XAF -UBA,Jemima DedeSaki,NaN,Payment Completed
247,977,2024-10-31 17:10:54,2024-12-18 09:20:30,612.00,180555.55,Velocity,USD,NaN,Jemima DedeSaki,Elizabeth Asabre,Payment Completed
315,1241,2024-11-19 18:09:23,2024-11-22 14:52:41,630.00,505555.56,Velocity,USD,XOF - UBA,NaN,ExonamAbla Kabutu-Gbedemah,Payment Completed
342,1305,2024-11-25 13:45:53,2024-12-09 14:24:35,2500.00,80.00,Zepz Pay,USD,NaN,Thomas Birgen,ExonamAbla Kabutu-Gbedemah,Payment Completed
351,1330,2024-11-27 09:40:08,2024-11-29 13:12:46,2635.00,417457.31,Zepz Pay,USD,TZS - Tembo Plus (Ecobank),Thomas Birgen,NaN,Payment Completed
365,1376,2024-12-02 13:55:36,2024-12-09 15:55:20,629.00,381558.03,Zepz Pay,USD,XOF - UBA,Delali KojoAnagbah,NaN,Payment Completed
375,1410,2024-12-04 11:38:00,2024-12-09 12:33:46,2550.00,100.00,Zepz Pay,USD,NaN,Thomas Birgen,NaN,Payment Completed
385,1439,2024-12-05 16:05:40,2025-01-20 10:35:09,1643.00,2000000.00,Velocity,USD,NGN- PayAza,Matthew Agyemang,NaN,Payment Completed
458,1709,2025-01-10 16:06:08,2025-01-10 20:31:26,1650.00,3000000.00,TapTap send,USD,NaN,Matthew Agyemang,Tosin Shonde,Payment Completed
617,2168,2025-02-13 12:02:15,2025-02-14 13:09:21,NaN,157853.20,Velocity,USD,XOF - UBA,Jemima DedeSaki,ExonamAbla Kabutu-Gbedemah,Payment Completed
823,2830,2025-03-27 11:16:18,2025-04-03 11:33:16,129.40,40000.00,Remitcore Money Transfer LTD,USD,KES - UBA Kenya,NaN,ExonamAbla Kabutu-Gbedemah,Payment Completed
912,3067,2025-04-23 12:56:17,2025-06-16 10:34:27,15.66,300000.00,Remit Choice,USD,NaN,Delali KojoAnagbah,NaN,Payment Completed
963,3211,2025-05-09 16:19:29,2025-05-09 16:38:31,1605.00,2000000.00,Lemonade,NaN,NGN -Providus,Dotun Akinkunmi,Tosin Shonde,Payment Completed
1056,3499,2025-06-09 17:07:49,2025-06-16 10:35:29,700.00,20000.00,Remit Choice,EURO,NaN,Delali KojoAnagbah,NaN,Payment Completed
1135,3731,2025-07-01 16:43:51,2025-07-03 10:28:35,571.00,160000.00,Zepz Pay,USD,XOF - UBA,NaN,ExonamAbla Kabutu-Gbedemah,Payment Completed
1221,3992,2025-07-29 11:24:46,2025-07-29 12:49:31,129.28,NaN,Flex Money Transfer,USD,KES - UBA Kenya,Michael Oanda,ExonamAbla Kabutu-Gbedemah,Payment Completed
1241,4055,2025-08-04 16:36:55,2025-08-04 20:00:04,NaN,500000.00,Mansu,USDT,NGN -Providus,Matthew Agyemang,NGN -Providus,Payment Completed
1438,4726,2025-10-06 07:40:28,2025-10-07 10:29:53,NaN,1700000.00,Pype Digital,NaN,NGN -Providus,Matthew Agyemang,Tosin Shonde,Payment Completed
1530,5135,2025-10-31 17:01:12,2025-11-03 13:07:47,NaN,1000.00,MFS Africa UK (Onafriq),EURO,XAF -UBA,Jemima DedeSaki,ExonamAbla Kabutu-Gbedemah,Payment Completed
1592,5329,2025-11-18 10:27:01,2025-11-18 13:19:39,4300.00,NaN,Zepz Pay,USDC,First Capital Malawi,Michael Oanda,ExonamAbla Kabutu-Gbedemah,Payment Completed

In [29]:
miss.to_csv("missing_something.csv", index=False)

In [30]:
df2["Date"]

0       2024-09-10 12:27:44
1       2024-09-11 09:07:57
2       2024-09-10 13:52:58
3       2024-09-10 13:53:18
4       2024-09-11 09:07:08
               ...
1593    2025-11-18 13:35:10
1594    2025-11-18 14:04:01
1595    2025-11-18 15:01:50
1596    2025-11-19 09:38:13
1597    2025-11-19 13:42:01
Name: Date, Length: 1549, dtype: object

In [31]:
# 1. Ensure the 'Date' column is a datetime object
df2['Date'] = pd.to_datetime(df2['Date'])

# 2. Apply the filter: Year is 2025 AND Month is 11
november_2025_rows = df2[
    (df2['Date'].dt.year == 2025) &
    (df2['Date'].dt.month == 11)
]
november_2025_rows

/tmp/ipykernel_1837/644525133.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Date'] = pd.to_datetime(df2['Date'])

,Trade Number,Date,Payment Time and Date,Rate,Volume Purchased,Client Name (N),Currency,Settlement Bank,Initiated by,Settlement Done By,Payment Status
1525,5202,2025-11-06 17:26:17,2025-11-06 18:45:14,579.5,97294.21,Fincra,USDT,XOF - UBA,Delali KojoAnagbah,Elizabeth Asabre,Payment Completed
1532,5137,2025-11-03 09:14:09,2025-11-03 11:24:25,4580.0,41484.72,Africa Tech Holdings LLC (YellowCard),USDT,First Capital Malawi,Thomas Birgen,ExonamAbla Kabutu-Gbedemah,Payment Completed
1533,5138,2025-11-03 09:50:04,2025-11-03 10:36:39,79.5,138364.78,WIREMIT,USDT,UBA Mozambique,Thomas Birgen,ExonamAbla Kabutu-Gbedemah,Payment Completed
1534,5146,2025-11-03 15:45:58,2025-11-03 16:14:07,1451.5,100000.00,Quidax,USDT,NGN -Providus,Emmanuel Odeh,Tosin Shonde,Payment Completed
1535,5149,2025-11-04 08:24:06,2025-11-04 09:11:57,79.5,92075.47,WIREMIT,USDT,UBA Mozambique,Michael Oanda,ExonamAbla Kabutu-Gbedemah,Payment Completed
...,...,...,...,...,...,...,...,...,...,...,...
1593,5335,2025-11-18 13:35:10,2025-11-19 11:30:10,596.0,1936684.21,Zepz Pay,USDC,XAF -UBA,Jemima DedeSaki,ExonamAbla Kabutu-Gbedemah,Payment Completed
1594,5337,2025-11-18 14:04:01,2025-11-18 17:14:39,1469.0,2000000.00,Lemonade,USD,NGN -Providus,Emmanuel Odeh,Tosin Shonde,Payment Completed
1595,5340,2025-11-18 15:01:50,2025-11-19 09:28:32,80.0,137500.00,WIREMIT,USDT,UBA Mozambique,Thomas Birgen,ExonamAbla Kabutu-Gbedemah,Payment Completed
1596,5347,2025-11-19 09:38:13,2025-11-19 11:31:09,80.0,47500.00,WIREMIT,USDT,UBA Mozambique,Michael Oanda,ExonamAbla Kabutu-Gbedemah,Payment Completed
1597,5362,2025-11-19 13:42:01,2025-11-19 14:32:02,1472.0,120000.00,Pype Digital,USDT,NGN -Providus,Matthew Agyemang,Tosin Shonde,Payment Completed

In [32]:
november_2025_rows.to_csv("november_2025_payments.csv", index=False)

In [33]:
november_2025_rows.isnull().sum()

Trade Number             0
Date                     0
Payment Time and Date    0
Rate                     0
Volume Purchased         1
Client Name (N)          0
Currency                 0
Settlement Bank          0
Initiated by             0
Settlement Done By       0
Payment Status           0
dtype: int64

In [34]:
november_2025_rows[november_2025_rows.isnull().any(axis=1)]

,Trade Number,Date,Payment Time and Date,Rate,Volume Purchased,Client Name (N),Currency,Settlement Bank,Initiated by,Settlement Done By,Payment Status
1592,5329,2025-11-18 10:27:01,2025-11-18 13:19:39,4300.0,NaN,Zepz Pay,USDC,First Capital Malawi,Michael Oanda,ExonamAbla Kabutu-Gbedemah,Payment Completed

In [35]:
november_2025_rows.duplicated().sum()

np.int64(0)

In [36]:
november_2025_rows["Date"] = november_2025_rows["Date"].dt.date

/tmp/ipykernel_1837/745949362.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  november_2025_rows["Date"] = november_2025_rows["Date"].dt.date

In [37]:
november_2025_rows.head()

,Trade Number,Date,Payment Time and Date,Rate,Volume Purchased,Client Name (N),Currency,Settlement Bank,Initiated by,Settlement Done By,Payment Status
1525,5202,2025-11-06,2025-11-06 18:45:14,579.5,97294.21,Fincra,USDT,XOF - UBA,Delali KojoAnagbah,Elizabeth Asabre,Payment Completed
1532,5137,2025-11-03,2025-11-03 11:24:25,4580.0,41484.72,Africa Tech Holdings LLC (YellowCard),USDT,First Capital Malawi,Thomas Birgen,ExonamAbla Kabutu-Gbedemah,Payment Completed
1533,5138,2025-11-03,2025-11-03 10:36:39,79.5,138364.78,WIREMIT,USDT,UBA Mozambique,Thomas Birgen,ExonamAbla Kabutu-Gbedemah,Payment Completed
1534,5146,2025-11-03,2025-11-03 16:14:07,1451.5,100000.00,Quidax,USDT,NGN -Providus,Emmanuel Odeh,Tosin Shonde,Payment Completed
1535,5149,2025-11-04,2025-11-04 09:11:57,79.5,92075.47,WIREMIT,USDT,UBA Mozambique,Michael Oanda,ExonamAbla Kabutu-Gbedemah,Payment Completed

In [40]:
november_2025_rows['Payment Time and Date'] = pd.to_datetime(november_2025_rows['Payment Time and Date'])
november_2025_rows["Payment Time and Date"] = november_2025_rows["Payment Time and Date"].dt.date

/tmp/ipykernel_1837/1533615530.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  november_2025_rows['Payment Time and Date'] = pd.to_datetime(november_2025_rows['Payment Time and Date'])
/tmp/ipykernel_1837/1533615530.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  november_2025_rows["Payment Time and Date"] = november_2025_rows["Payment Time and Date"].dt.date

In [41]:
november_2025_rows.head()

,Trade Number,Date,Payment Time and Date,Rate,Volume Purchased,Client Name (N),Currency,Settlement Bank,Initiated by,Settlement Done By,Payment Status
1525,5202,2025-11-06,2025-11-06,579.5,97294.21,Fincra,USDT,XOF - UBA,Delali KojoAnagbah,Elizabeth Asabre,Payment Completed
1532,5137,2025-11-03,2025-11-03,4580.0,41484.72,Africa Tech Holdings LLC (YellowCard),USDT,First Capital Malawi,Thomas Birgen,ExonamAbla Kabutu-Gbedemah,Payment Completed
1533,5138,2025-11-03,2025-11-03,79.5,138364.78,WIREMIT,USDT,UBA Mozambique,Thomas Birgen,ExonamAbla Kabutu-Gbedemah,Payment Completed
1534,5146,2025-11-03,2025-11-03,1451.5,100000.00,Quidax,USDT,NGN -Providus,Emmanuel Odeh,Tosin Shonde,Payment Completed
1535,5149,2025-11-04,2025-11-04,79.5,92075.47,WIREMIT,USDT,UBA Mozambique,Michael Oanda,ExonamAbla Kabutu-Gbedemah,Payment Completed

In [42]:
november_2025_rows.to_csv("november_2025_payments.csv", index=False)